<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="Nursat Ryskulbek">
	<title>Tirkeý</title>
	<link rel="stylesheet" href="/style.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<a href="/index">
		<div>
			&#10062;
		</div>
	</a>
	<header>
		<div class="box">
			<center>
				<div id="login-form" class="users">
					<h1>Tirkeý</h1>
					<form>
						<input type="email" id="mail" placeholder="Elektrondyq poshta engizińiz"><br>
						<input type="password" id="pass" pattern="[0-9]{0,7}" placeholder="Qupıa sóz jasańyz"><br>
						<button type="submit" id="add__btn">Usyný</button>
						<br><br>
						<a href="<%= title === 'Registration' ? '/auth/login' : '/auth/registration' %>">Tirkeý</a>
						<span id="last"></span>
					</form>
				</div>
			</center>
	</header>
	<section>
		<center>
			<div class="admin">
				<h1>Paıdalanýshylar</h1>
				<hr noshade="">
				<div id="notes" class="notes">
					<p class="note-counter">Paıdalanýshy 1</p>
					<h3 class="note__title"></h3>
					<p class="note__body"></p>
					<button class="note__btn">Joıý</button>
					<button class="note__btn edit__btn">Óńdeý</button>
				</div>
			</div>
		</center>
	</section>
	</div>
	<script src="/components/auth-component.js"></script>
</body>

</html>