<header>
    <nav>
        <a href="./"><img id="logo" height="60" src="../images/logo-4x.png" alt="The picture was not found"></a>
        <center><a href="/"><span class="menu" id="here">Home</span></a>
            <a href="/order"><span class="menu">Mázir</span></a>
            <a href="/about"><span class="menu">Qysqa aqparat</span></a>
            <a href="/auth"><span class="menu">Tirkeý</span></a>
        </center>
    </nav>
</header>